<h1>Articles#edit</h1>
<p>Find me in app/views/articles/edit.html.erb</p>

<%= form_for(@article) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit %>
<% end %>
