<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>

<h2>
Title : <%= @article.title %>
</h2>

<p>
Content : <%= @article.content %>
</p>

<p>
Creation date : <%= @article.created_at %>
</p>

<p>
Last update : <%= @article.updated_at %>
</p>

<%= link_to "Edit the article", edit_article_path(@article) %>

<%= link_to "Delete the article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>

<%= link_to "Back to the list", articles_path %>
